.input-container{
    margin: 20px;
}

.text-input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 200px;
    width: 250px;
}

.input-value{
    margin-top: 20px;
    font-size: 14px;
    color: black
}